boto==2.39.0
ntplib==0.3.3
pyyaml==3.11
requests==2.11.1
simplejson==3.6.5
supervisor==3.3.0
tornado==3.2.2
uptime==3.0.1
adodbapi==2.6.0.7
pyro4==4.36 # required by adodbapi
httplib2==0.9
kafka-python==1.3.1
kazoo==2.2.1
pg8000==1.10.1
pymysql==0.6.6
gearman==2.0.2
python-memcached==1.53
redis==2.10.5
pyvmomi==6.0.0
snakebite==1.3.11
docker-py==1.10.6
dnspython==1.12.0
python-etcd==0.4.2
python-consul==0.4.7
beautifulsoup4==4.5.1
pycurl==7.19.5.1
psutil==4.4.1
scandir==1.5
pymongo==3.2
psycopg2==2.7.1
pysnmp-mibs==0.1.4
pyasn1==0.1.9
pysnmp==4.2.5
pyro4==4.36
paramiko==1.15.2
winrandom-ctypes==1.0.3